body, html {
    scroll-padding-top: 71px;
    scroll-behavior: smooth;
  }

  body {
        overflow-x: hidden;
  }

.navbar {
    top: 0;
    position: sticky;
}

#splash img {
    width: 350px;
    margin: auto;
    overflow: none;
}

#about img {
    width: 100%;
    max-width: 350px;
}

#splash {
    height: 350px;
}

#dev {
    background-image: url(img/binary.jpg); /* "http://www.freepik.com">Designed by starline / Freepik */
    background-size: cover;
}

#des {
    background-image: url(img/paint.webp); /* "http://www.freepik.com">Designed by starline / Freepik */
    background-size: cover;
}

#h-dev {
    position: relative;
    left: 50px;
    opacity: .3;
}

#h-dev:hover {
    opacity: .5;
    transform: scale(1.05);
}

#h-des {
    position: relative;
    right: 50px;
    opacity: .3;
}

#h-des:hover {
    opacity: .5;
    transform: scale(1.05)
}

#portfolio img {
    max-height: 200px;
    object-fit: cover;
}

#social {
    height: 50px;
}

#social button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}

#topbtn {
 border-radius: 80%;
 width: 110%;
 height: 75px;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 top: -35px;
 margin-bottom: -30px;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(30deg) brightness(104%) contrast(102%);
}

@media (max-width: 1300px) {
    #dev {
        position: relative;
        right: 100px;
    }
    #des {
        position: relative;
        left: 100px;
    }
  }

  @media (max-width: 992px) {
    #portfolio img {
        max-height: 400px;
    }
  }